
.toc {
  height: 100%;
  width: 15%;
  border-right: 1px solid lightgray;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  overflow-x: auto;
  padding: 5em 0 0 1em;
  float: left;
  text-align: left;
}

