<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>APIs</title>
<link rel="stylesheet" href="/css/w3.css">
<link rel='stylesheet' href='/css/snackbar.css'>
<link rel='stylesheet' href='/css/main.css'>
<link rel='stylesheet' href='/css/button.css'>
<link rel='stylesheet' href='/css/table.css'>
<link rel='stylesheet' href='/css/modal.css'>
<link rel='stylesheet' href='/css/tree.css'>

<script src="/jsBlueprints"></script>
<script>
/**SERVER_DATA**/
/**_blueprints**/
</script>

<script src="/js/utils.js"></script>
<script src="/js/dialog.js"></script>
<script src="/js/editor/globals.js"></script>
<script src="/js/api.js"></script>

</head>

<body>
<!-- The actual snackbar -->
<div id="snackbar"></div>

<main>

<!-- Top container -->
<!--div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <div class="w3-bar-item w3-right"><i class="icon i-project-diagram" style="color:darkslategray; min-width: 2em;"></i><span class="title"></span>&nbsp;<span class="version"/></div>
</div-->

<!--div w3-include-html="header.htm" id="header"></div-->

<!-- Sidebar/menu -->
  <div w3-include-html="sidebar" id="sidebar">
    <!--script>include('sidebar', 'sidebar.htm');</script-->
  </div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:210px;">

  <!-- Header -->
  <header class="w3-container">
    <h4 style="color:black"><b>APIs</b></h4>
    <hr style="margin:5px">
  </header>

  <div class="w3-container">
    <!--button class="btnApp" onclick="createAPI();"><i class="icon i-add"></i> New API</button-->
    <button class="btnApp" onclick="window.location = '/mapping/create';"><i class="icon i-add"></i> New API</button>
    
    <!--button class="btnApp w3-right" onclick="refreshBlueprints ();"><i class="icon i-refresh"></i> Refresh</button-->
    <div id="api-table" class="w3-container w3-stretch">
      <!--TABLE-->
    <div>
  </div>

</div>

</main>

  <script>
  //document.title = __SERVER.application_name;
  includeHTML();
  //loadCatalog();
  refreshAPIs();
  </script>

</body>

</html>
