<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Edit blueprint</title>
<link rel='stylesheet' href='/css/w3.css'>
<link rel='stylesheet' href='/css/main.css'>
<link rel='stylesheet' href='/css/snackbar.css'>
<link rel='stylesheet' href='/css/modal.css'>
<link rel='stylesheet' href='/css/button.css'>
<link rel='stylesheet' href='/css/table.css'>
<link rel='stylesheet' href='/css/select.css'>
<link rel='stylesheet' href='/css/context-menu-bp.css'>
<link rel='stylesheet' href='/css/blueprint.css'>
<link rel='stylesheet' href='/css/dropdown-menu.css'>
<link rel='stylesheet' href='/css/sidebar.css'>
<link rel='stylesheet' href='/css/tree.css'>

<link rel='stylesheet' href='/css/split.css'>
<script src="/js/split.min.js"></script>

<!--script src="/jsDynamic"></script-->
<script src="/jsAsset"></script>
<script src="/jsBlueprints"></script>
<script>
/**SERVER_DATA**/
/**_blueprints**/
/**_jbp**/
/**_asset**/
/*
var _blueprints = null;
var _asset = null;
*/
var _jbp = null;
</script>

<script src="/js/utils.js"></script>

<script src="/js/editor/context-menu-bp.js"></script>
<script src="/js/editor/menu.js"></script>
<script src="/js/editor/globals.js"></script>
<script src="/js/editor/edge.js"></script>
<script src="/js/editor/connector.js"></script>
<script src="/js/editor/node.js"></script>
<script src="/js/editor/blueprint.js"></script>
<script src="/js/dialog.js"></script>
<script src="/js/editor/bpconsole.js"></script>
<script src="/js/editor/undo.js"></script>
<script src="/js/editor/application.js"></script>

<!--script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/-->

<script src="/js/jquery-latest.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css"/>

<!--link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script-->

</head>

<!--body onunload="onUnload(event);"-->
<body>

<input id="file-dialog" type="file" name="Import" style="display: none;" />
<!--input id="file-dialog" type="file" name="name"" /-->


<main id="main">

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
    </div>
  </div>

  <!-- Menubar and toolbar -->
  <div class="w3-top" style="z-index:10;" onmousedown="endEdit();">
    <div id="mb1" class="menubar"></div>
    <div id="toolbar" class="toolbar"></div>
  </div>

  <div class="horizontal-pane">

    <!-- Sidebar -->
    <div class="sidebar" style="padding-top:5.5em;">

      <!-- Program -->
      <div class="edit-box w3-panel w3-round w3-padding-small w3-light-gray w3-border">
        <div style="border-bottom: 1px dotted grey"><b>Program</b></div>
        <table class="tabVars">
          <tr><td class="tdVars tdVarsName">Name</td><td class="tdVars tdVarsLast"><div id="programName"></div></td></tr>
          <tr><td class="tdVars">Status</td><td class="tdVars"><div id="programStatus"></div></td></tr>
        </table>
      </div>

      <!-- Blueprint -->
      <div class="edit-box w3-panel w3-round w3-padding-small w3-light-gray w3-border">
        <div style="border-bottom: 1px dotted grey"><b>Blueprint</b></div>
        <table class="tabVars">
          <tr>
            <td class="tdVars tdVarsName">Name</td>
            <td class="tdVars tdVarsLast">
              <input class="inputConnector" id="bpName" type="text" name="bpName" value="Name" onfocus="beginEdit();" onblur="endEdit();" onchange="onNameChanged();">
            </td>
          </tr>
          <tr><td class="tdVars">Status</td><td class="tdVars"><div id="bpStatus"></div></td></tr>
        </table>
      </div>

      <!-- Input -->
      <div id="input-panel" class="edit-box w3-panel w3-round w3-padding-small w3-light-gray w3-border">
          <div class="edit-box-header w3-margin-bottom">
            <div><b>Input</b></div>
            <button class="btnApp w3-right" onclick="addInputCallback();" ><i class="icon i-add"></i> Add</button>
          </div>
          <table id="tab_input" class="tabVars">
          </table>
      </div>

      <!-- Output -->
      <div id="output-panel" class="edit-box w3-panel w3-round w3-padding-small w3-light-gray w3-border">
          <div class="edit-box-header w3-margin-bottom">
            <div><b>Output</b></div>
            <button id="btn_add_output" class="btnApp w3-right" onclick="addOutputCallback();" ><i class="icon i-add"></i> Add</button>
          </div>
          <table id="tab_output" class="tabVars">
          </table>
      </div>

      <!-- Global variables -->
      <div id="globals_main" class="edit-box w3-panel w3-round w3-padding-small w3-light-gray w3-border">
          <div class="edit-box-header">
            <div><b>Global variables</b></div>
            <button class="btnApp w3-right" onclick="addGlobalVariable();" ><i class="icon i-add"></i> Add</button>
          </div>
          <!--table id="tab_global_variables" class="tabVars">
          </table-->
          <div id="global_vars"></div>
      </div>

      <!-- Local variables -->
      <div id="locals_main" class="edit-box w3-panel w3-round w3-padding-small w3-light-gray w3-border">
          <div class="edit-box-header">
            <div><b>Blueprint variables</b></div>
            <button class="btnApp w3-right" onclick="addLocalVariable();" ><i class="icon i-add"></i> Add</button>
          </div>
          <!--table id="tab_variables" class="tabVars">
          </table-->
          <div id="local_vars"></div>
      </div>

    </div>


    <div class="bpcontainer">
      <div id="a" class="split">
        <div class="blueprint" style="padding-top:60px;">
          <div id="status" style="position: absolute; top:0px"></div>
          <div id="mouse" style="position: absolute; top:20px"></div>
          <div id="bp-title" class="bp-title"></div>
          <div class="bp-bg"></div>
        </div>
      </div>

        <!-- Console -->
        <div id="myConsole" class="split">
          <div id="consoleToolbar" class="bpconsoleToolbar">
            <span class="bp-console-text" title="Clear console" onclick="bpConsole.clear();"><i class="icon i-broom"></i></span>
            <span class="bp-console-text" title="Collapse" onclick="toggleConsoleVisibility();" style="float: right;">&#9602</span>
          </div>
          <div id="consoleText" class="terminal"></div>
        </div>
    </div>

    <!-- The actual snackbar -->
    <div id="snackbar"></div>

  </div>
</main>


<script th:inline="javascript">

__SERVER={ "package":{}, "system":{}, "auth":{}};
__SERVER.package.application_name = "[(${name})]";
__SERVER.package.version = "[(${version})]";
__SERVER.package.copyright = "[(${copyright})]";

var clientId = "[(${clientId})]";

console.log("clientId = "+clientId);

paned =
 Split(['#a', '#myConsole'], {
        sizes: [70, 30],
        gutterSize: 10,
        cursor: 'grabbing',
        direction: 'vertical',
        minSize: 0
    });

setInputFilter(document.getElementById("bpName"), function(value) { return /^[a-zA-Z0-9_\\-\\.]+$/.test(value); });

createMenu ("mb1");
appStart ();

/*
 $(".blueprint").resizable({
   handles: 's'
 });
*/

//bpStart(null);
//blueprint.bpDiv.addEventListener('keydown', appKeyPressed, false);
//blueprint.bpDiv.addEventListener('keyup', appKeyReleased, false);

//window.addEventListener("beforeunload", onUnload);
/*window.addEventListener("beforeunload", function(event) {
  event.returnValue = "Write something clever here..";
});
window.addEventListener('beforeunload', function (e) {
    e.preventDefault();
    e.returnValue = '';
});*/
</script>



</body>
</html>
