<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title th:text="${program.name}"></title>
<link rel="stylesheet" href="/css/w3.css">
<link rel='stylesheet' href='/css/snackbar.css'>
<link rel='stylesheet' href='/css/main.css'>
<link rel='stylesheet' href='/css/button.css'>
<link rel='stylesheet' href='/css/table.css'>
<link rel='stylesheet' href='/css/modal.css'>
<link rel='stylesheet' href='/css/tree.css'>

<script src="/js/utils.js"></script>
<script src="/js/dialog.js"></script>
<script src="/js/catalog.js"></script>
<script src="/js/jquery-latest.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>

</head>

<body>
<input id="file-dialog" type="file" name="Import" style="display: none;" />

<!-- The actual snackbar -->
<div id="snackbar"></div>

<!-- For file downloading -->
<iframe id="my_iframe" style="display:none;" download></iframe>

<main>
<!-- Sidebar/menu -->
<div w3-include-html="/sidebar" id="sidebar"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:210px;">

  <!-- Header -->
  <header class="w3-container">
    <h4 style="color:black"><b>Edit program</b></h4>
    <hr style="margin:5px">
  </header>

  <div class="w3-container">
    <input th:if="${creating}" id="programId" type="hidden">
    <input th:if="${updating}" id="programId" type="hidden" th:value="${program.id}">
    
    <button class="btnApp" th:attr="onclick=|createJAR('${program.id}')|"><i class="icon i-archive"></i> Create JAR</button>
    <button class="btnApp" th:attr="onclick=|window.location = '/program/${program.id}/edit-properties'|"><i class="icon i-sliders-h"></i> Properties</button>
    <button class="btnApp" th:attr="onclick=|exportProgram('${program.id}')|"><i class="icon i-download"></i> Export</button>

    <div class="w3-panel w3-round w3-light-grey w3-border">
        <table class="w3-table">
            <tr>
                <td style="vertical-align: middle;">Name</td>
                <td>
                    <div class="w3-row">
                        <div class="w3-third">
                            <input id="programName" class="w3-input w3-border w3-round" type="text" th:value="${program.name}" th:attr="oninput=|nameChanged()|"> 
                        </div>
                        <div id="renameCtrl" class="w3-third" style="visibility: hidden;">
                            <i th:attr="onclick=|revertName('${program.name}')|" style="cursor:pointer;" class="icon i-revert w3-text-gray w3-margin-left w3-margin-right" title="Revert"></i>
                            <button th:if="${updating}" class="w3-button w3-round-medium w3-green" onclick="renameProgram();">Rename</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <span th:if="${program.status.name() == 'READY'}"><i class="icon i-clock w3-text-green"></i></span>
                    <span th:if="${program.status.name() == 'COMPILED'}"><i class="icon i-check w3-text-green"></i></span>
                    <span th:if="${program.status.name() == 'ERRORS'}"><i class="icon i-exclamation-triangle w3-text-red"></i></span>
                    <span th:text="${program.status}"></span>
                </td>
            </tr>
        </table>
    </div>

    <!-- Blueprints -->
    <button class="btnApp" th:attr="onclick=|addBlueprint('${program.id}')|"><i class="icon i-add"></i> New blueprint</button>
    <button class="btnApp" th:attr="onclick=|importBlueprint('${program.id}')|"><i class="icon i-upload"></i> Import blueprint</button>
    
    <div id="blueprints">
        <table class="table1">
            <tr><th class="th1">Blueprint</th><th class="th1">Modified</th><th class="th1" /><tr>
            <tr class="tr1" th:each="b : ${#lists.sort(blueprints, byName)}">
                <td class="td1">
                    <i class="icon i-project-diagram w3-text-blue-gray" style="width:1.5em;"></i> <strong><a th:text="${b.name}" th:href="@{${'/blueprint/'+b.id+'/edit'}}" target="_blank" style="cursor:pointer;" title="Open blueprint"></a></strong>
                </td>
                <td class="td1" th:text="${b.updateTime}"></td>
                <td class="td1">
                    <div th:if="${b.type.name() == 'GENERIC'}" class="w3-right">
                        <i class="icon i-clone w3-text-gray" style="margin-left:0.5em; cursor:pointer;" th:attr="onclick=|cloneBlueprint('${b.id}', '${b.name}')|" title="Clone blueprint"></i>
                        <i class="icon i-trash-alt w3-text-gray" style="margin-left:0.5em; cursor:pointer;" th:attr="onclick=|deleteBlueprint('${b.id}', '${b.name}')|" title="Delete blueprint"></i>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <!--button th:if="${creating}" class="w3-button w3-round-medium w3-green" onclick="createAPI();">Create</button>
    <button th:if="${updating}" class="w3-button w3-round-medium w3-green" onclick="updateAPI();">Update</button>
    <button class="w3-button w3-round-medium w3-green" onclick="window.location = '/apipanel';">Cancel</button-->
    <br><br>

    <div id="response"></div>
  </div>
</div>

</main>

  <script th:inline="javascript">
  includeHTML();
  </script>

</body>

</html>
