<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${name}"></title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/w3.css">
<!--link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"-->
<link rel='stylesheet' href='css/main.css'>
<link rel='stylesheet' href='css/fonts.css'>
<link rel='stylesheet' href='css/button.css'>
<link rel='stylesheet' href='css/table.css'>
<link rel='stylesheet' href='css/sidebar.css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<!--script src="/jsDynamic"></script-->
<script>
/**SERVER_DATA**/
//console.log (__SERVER);
</script>

<script src="js/utils.js"></script>
<!--script src="js/server.js"></script-->
<script src="js/home.js"></script>


</head>
<body>

<!-- Top container -->
<!--div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <div class="w3-bar-item w3-right"><i class="icon i-project-diagram" style="color:darkslategray; min-width: 2em;"></i><span class="title"></span>&nbsp;<span class="version"/></div>
</div-->

<!--div w3-include-html="header.htm" id="header"></div-->
<div w3-include-html="sidebar" id="sidebar"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:210px;padding-top:1em;">

  <div class="w3-panel w3-margin">
    <center>
      <img class="logo" src="img/logo.png" width="10%">
    </center>    
      <!--h3>
        <div style="padding-bottom:1em; border-bottom: 1px dotted grey"><strong><span class="title"/></strong></div>
      </h3-->
      <br>
  </div>

  
  <!--div class="w3-panel w3-round w3-margin">
  <p>
This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.
</p>
<p>
This program is distributed in the hope that it will be useful, but without any warranty; without even the implied warranty of merchantability or fitness for a particular purpose. See the gnu general public license for more details.
</p>
<p>
You will receive a copy of the GNU General Public License along with the program.
</p>
  </div-->

  <div class="w3-panel w3-round w3-margin w3-light-grey">
    <h6 style="border-bottom: 1px dotted grey"><i class="icon i-project-diagram" style="color: orange;"></i> <b th:text="${name}"></b><!--b class="title"--></b></h6> 
    <table class="w3-table w3-bordered" style="padding-right:40%">
      <tr><th class="td1-short">Version</th><td><span th:text="${version}"></span></td></tr>
      <tr><th class="td1-short">Start time</th><td><span th:text="${buildTime}"></span></td></tr>
    </table>
  </div>
  
  <div class="w3-panel w3-round w3-margin w3-light-grey">
    <h6 style="border-bottom: 1px dotted grey"><i class="icon i-network-wired" style="color: orange;"></i> <b>Host</b></h6>
    <table class="w3-table w3-bordered" style="padding-right:40%">
      <tr><th class="td1-short">Node name</th><td><span th:text="${nodeName}"></span></td></tr>
      <tr><th class="td1-short">System</th><td><span id="system" ></span></td></tr>
      <!--tr><th class="td1-short">Kernel</th><td><span id="kernel" ></span></td></tr-->
    </table>
  </div>
  
  <!--div class="w3-panel w3-round w3-margin w3-light-grey">
    <h6 style="border-bottom: 1px dotted grey"><i class="icon i-puzzle-piece" style="color: orange;"></i> <b>Plugins</b></h6>    
    <table id="plugin-table" class="w3-table w3-bordered" style="padding-right:40%">
      <tr><td><i class="icon i-spinner w3-spin"></i> Scanning...</td></tr>
    </table>
  </div-->
  
  <div class="w3-panel w3-round w3-margin">
      <div class="w3-right" style="color:dimgray;"><i>Copyright (c) 2020 Fabio Leone</i></div>
  </div>
</div>

<script th:inline="javascript">

__SERVER={ "package":{}, "system":{}, "auth":{}};
__SERVER.package.application_name = "[(${name})]";
__SERVER.package.version = "[(${version})]";
__SERVER.system.nodename = "[(${nodeName})]";
__SERVER.auth.username = "Unknown";

includeHTML();

function secondsToDhms(seconds) {
  seconds = Number(seconds);
  var d = Math.floor(seconds / (3600*24));
  var h = Math.floor(seconds % (3600*24) / 3600);
  var m = Math.floor(seconds % 3600 / 60);
  var s = Math.floor(seconds % 60);

  var dDisplay = d > 0 ? d + (d == 1 ? " day, " : "s days, ") : "";
  var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
  var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
  var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
  return dDisplay + hDisplay + mDisplay + sDisplay;
}

callServer ("GET", "/actuator/env", null, function (xhttp) {
  var jsonResponse;
  
  if (xhttp.readyState == 4) {
    if (xhttp.status == 200) {
      jsonResponse = JSON.parse(xhttp.responseText);
    
      document.getElementById('system').innerHTML = jsonResponse.propertySources[2].properties['os.name'].value + ' ' + 
                                                    jsonResponse.propertySources[2].properties['os.version'].value + ' ' + 
                                                    jsonResponse.propertySources[2].properties['os.arch'].value;
      //document.getElementById('kernel').innerHTML = __SERVER['uname']['release'];
    }
    else {
      console.log(xhttp.responseText);
    }
  }
  else {
  }
}
);

</script>
  
</body>

</html>
