<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${name}"></title>
<meta charset="utf-8">
<title>Catalog</title>
<link rel='stylesheet' href='/css/w3.css'>
<link rel='stylesheet' href='/css/snackbar.css'>
<link rel='stylesheet' href='/css/main.css'>
<link rel='stylesheet' href='/css/button.css'>
<link rel='stylesheet' href='/css/table.css'>
<link rel='stylesheet' href='/css/sidebar.css'>
<link rel='stylesheet' href='/css/modal.css'>

<link rel='stylesheet' href='/css/catalog.css'>

<!--script src="/jsDynamic"></script-->

<script src="/js/utils.js"></script>
<script src="/js/dialog.js"></script>
<script src="/js/catalog.js"></script>
<script src="/js/jquery-latest.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>


<!--link rel='stylesheet' href='/css/context-menu.css'>
<script src="/js/context-menu.js"></script-->
<link rel='stylesheet' href='/css/context-menu-bp.css'>
<script src="/js/editor/context-menu-bp.js"></script>

</head>

<body>
<input id="file-dialog" type="file" name="Import" style="display: none;" />

<!-- The actual snackbar -->
<div id="snackbar"></div>

<!-- For file downloading -->
<iframe id="my_iframe" style="display:none;" download></iframe>

<!-- Top container -->
<!--div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <div class="w3-bar-item w3-right"><i class="icon i-project-diagram" style="color:darkslategray; min-width: 2em;"></i><span class="title"></span>&nbsp;<span class="version"/></div>
</div-->

<!--div w3-include-html="header.htm" id="header"></div-->
  <!--div w3-include-html="sidebar.htm" id="sidebar" class="sidebar"-->
  <div w3-include-html="sidebar" id="sidebar">
  </div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:210px;">

  <!-- Header -->
  <header class="w3-container">
    <h4 style="color:black"><b>Programs</b></h4>
    <hr style="margin:5px">
  </header>

  <div class="w3-container">
    <button class="btnApp" onclick="createProgram();"><i class="icon i-add"></i> New</button>
    <button class="btnApp" onclick="importProgram();"><i class="icon i-upload"></i> Import</button>
    <!--button class="btnApp" onclick="createFolder (null);"><i class="icon i-folder"></i> Create folder</button-->
    <button class="btnApp w3-right" onclick="refreshCatalog();"><i class="icon i-refresh"></i> Refresh</button>
    <!--div id="catalog"></div-->
    
    <div id="programs" class="w3-container w3-stretch">
      <table class="table1">
        <tr><th class="th1">Program</th><th class="th1">Status</th><th class="th1">Updated</th><th class="th1" /><tr>
        <tr th:each="p : ${#lists.sort(programs, byName)}">
            <td class="td1">
                <strong><a th:text="${p.name}" th:href="@{${'/program/'+p.id+'/edit'}}" style="cursor:pointer;">Name</a></strong>
            </td>
            <td class="td1" th:switch="${p.status.name()}">
                <span th:case="'READY'"><i class="icon i-clock w3-text-green"></i></span>
                <span th:case="'COMPILED'"><i class="icon i-check w3-text-green"></i></span>
                <span th:case="'ERRORS'"><i class="icon i-exclamation-triangle w3-text-red"></i></span>
                <span th:text="${p.status}"></span>
            </td>
            <td class="td1" th:text="${p.updateTime}"></td>
            <td class="td1">
                <div class="w3-right" th:id="${p.id}" th:name="${p.name}" onclick="createProgramMenu(event);" style="cursor:pointer;">
                    <i class="icon ellipsis-v" style="color:grey;"></i>
                </div>
            </td>
        </tr>
      </table>
    <div>
  </div>

</div>

</main>

</body>

  </div>

</div>

  <script>
  includeHTML();

    function openContextMenu(evt){
        evt.preventDefault();
        const time = menu.isOpen() ? 100 : 0;

        menu.hide();
        setTimeout(() => { menu.show(evt.pageX, evt.pageY) }, time);
        document.addEventListener('click', hideContextMenu, false);
    }


  //refreshCatalog ();
  </script>

</body>

</html>
