<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title th:text="${title}"></title>
<link rel="stylesheet" href="/css/w3.css">
<link rel='stylesheet' href='/css/snackbar.css'>
<link rel='stylesheet' href='/css/main.css'>
<link rel='stylesheet' href='/css/button.css'>
<link rel='stylesheet' href='/css/table.css'>
<link rel='stylesheet' href='/css/modal.css'>
<link rel='stylesheet' href='/css/tree.css'>
<link rel='stylesheet' href='/css/log.css'>

<script src="/js/utils.js"></script>
<script src="/js/dialog.js"></script>
<script src="/js/api.js"></script>

</head>

<body>
<!-- The actual snackbar -->
<div id="snackbar"></div>

<main style="height:100%;">
<!-- Sidebar/menu -->
<div w3-include-html="/sidebar" id="sidebar"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:210px;height:100%;">

  <!-- Header -->
  <header class="w3-container">
    <div class="page-title">Log: <span th:text="${api.name}"></span></div>
    <hr style="margin:5px">
  </header>

  <div class="w3-container" style="height:100%;">
    <div class="w3-panel log-window" style="height:100%;">
      <pre class="log-text" th:text="${log}"/>
    </div>
  </div>
</div>

</main>

  <script th:inline="javascript">
    includeHTML();
  </script>

</body>

</html>
