<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<title>Sessions</title>
<link rel="stylesheet" href="css/w3.css">
<link rel='stylesheet' href='css/snackbar.css'>
<link rel='stylesheet' href='css/main.css'>
<link rel='stylesheet' href='css/button.css'>
<link rel='stylesheet' href='css/table.css'>
<link rel='stylesheet' href='css/sidebar.css'>

<script>
/**SERVER_DATA**/
</script>

<script src="js/utils.js"></script>
<!--script src="js/server.js"></script-->
<script src="js/sessions.js"></script>
<script src="/js/jquery-latest.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>

</head>

<body>
<!-- The actual snackbar -->
<div id="snackbar"></div>

<main>

<!-- Top container -->
<!--div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <div class="w3-bar-item w3-right"><i class="icon i-project-diagram" style="color:darkslategray; min-width: 2em;"></i><span class="title"></span>&nbsp;<span class="version"/></div>
</div-->

<!--div w3-include-html="header.htm" id="header"></div-->
  <div w3-include-html="/sidebar" id="sidebar">
    <!--script>include('sidebar', 'sidebar.htm');</script-->
  </div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:210px;">

  <!--div class="content">
    <h2><i class="icon i-list" style="color:cornflowerblue"></i> Sessions</h2>
    <button class="btnApp" onclick="refreshSessions ();"><i class="icon i-refresh"></i> Refresh</button>
    <div id="sessions"></div>
  </div>
  <b--r>

  <!-- Header -->
  <header class="w3-container">
    <div class="page-title">Sessions</div>
    <hr style="margin:5px">
  </header>

  <div class="w3-container">
    <button class="btnApp w3-right" onclick="refreshSessions();"><i class="icon i-refresh"></i> Refresh</button>
    <div id="sessions" class="w3-container w3-stretch" th:fragment="list">
      <!--TABLE-->
      <table class="table1">
        <tr><th class="th1">Client&nbsp;IP</th><th class="th1" /><th class="th1">User</th><th class="th1">Login&nbsp;time</th><th class="th1">Status</th><th class="th1">Executing</th><th class="th1">Agent</th><tr>
        <tr th:each="s : ${#lists.sort(sessions, byLoginTime)}">
            <td class="td1" th:text="${s.remoteAddress}">1.2.3.4</td>
            <td class="td1" th:switch="${s.webApplication}">
              <span th:case="true"><i class="icon i-laptop w3-text-gray" title="Web application"></i></span>
            </td>
            <td class="td1" th:text="${s.user}">John</td>
            <td class="td1" th:text="${s.loginTime}">Wed Dec 16 19:31:06 CET 2020</td>
            <td class="td1" th:text="${s.status}">ACTIVE</td>
            <td class="td1" th:text="${s.programUnit}"></td>
            <td class="td1" th:text="${s.agent}">Chrome</td>
        </tr>
      </table>
    </div>
  </div>

</div>

</main>

  <script th:inline="javascript">
  includeHTML();
  //refreshSessions ();
  
  function refreshSessions() {
  /*
    callServer ("GET", "/sessions", null, function (xhttp) {
        if (xhttp.readyState == 4) {
          if (xhttp.status == 200) {
            //jcatalog = JSON.parse(xhttp.responseText);
            $('.list').html(xhttp.responseText);
          }
          else {
            console.log(xhttp.statusText);
          }
        }
      }
    			
    		}
    );*/
    $.get("/view-sessions?element=sessions").done(function(fragment) { // get from controller
        $("#sessions").replaceWith(fragment); // update snippet of page
    });

  }
  </script>

</body>

</html>
